* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}
body {
    font-family: 'Inter';
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .desktop-nav {
    display: none;
}
.mobile {
    width: 100%;
}
.desktop {
    display: none;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }